<section>
    <div class = "container">
        <div class = "row">
            <div class = "col-sm-5">
                <div class="p-profile"></div>
            </div>
            <div>
                <div class="col-sm-20">
                    <span> Developer </span>
                    <h1>Gideon Shawana</h1>
                    <p> Gideon Shawana is an accomplished professional with a unique blend of skills and expertise in consumer insights, brand strategy, copywriting, creative strategy, and software development. Throughout my career, I have consistently driven sales and profits for businesses by leveraging my diverse skill set and delivering exceptional results that surpass expectations.</p>
                    <a routerLink="/project"> Check out my projects <img src = "/assets/img/rm_arw_rgt.png" alt = "The icon to project" /> </a>

                </div>
            </div>
        </div>
    </div>
</section>